<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/tab2/home"></ion-back-button>
    </ion-buttons>
    <ion-title>添加商品</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-input label="名称" label-placement="floating" fill="outline" placeholder="输入名称" [(ngModel)]="productName"></ion-input>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-input label="价格" label-placement="floating" fill="outline" placeholder="输入价格" type="number" [(ngModel)]="productPrice"></ion-input>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-input label="单位" label-placement="floating" fill="outline" placeholder="输入单位" [(ngModel)]="productUnit"></ion-input>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-input label="库存" label-placement="floating" fill="outline" placeholder="输入库存" type="number" [(ngModel)]="productInventory"></ion-input>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-textarea label="描述(可选)" labelPlacement="floating" fill="outline" placeholder="输入描述" [autoGrow]="true" [(ngModel)]="productDes"></ion-textarea>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-label>添加图片</ion-label>
    </ion-col>
  </ion-row>
  <br>
  <ion-row style="align-items: stretch;" *ngFor="let row of getRowCount(); let rowIndex=index">
    <ion-col class="img-col" [size]="4" *ngFor="let url of imagesWebPath.slice(rowIndex * 3, rowIndex * 3 + 3)">
      <ion-button size="small" shape="round" style="position: absolute;right: 0;top: 0;" color="medium" (click)="removeImage(url)">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
      <img [src]="url">
    </ion-col>
    <ion-col id="addPhotosCol" [size]="4" class="add-icon img-col" (click)="isActionSheetOpen=true" *ngIf="rowIndex === getRowCount().length - 1">
      <svg style="height: 50%;" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112"/></svg>
    </ion-col>
  </ion-row>
  <ion-row style="align-items: stretch;" *ngIf="imagesWebPath.length===0">
    <ion-col [size]="4" class="add-icon img-col" (click)="isActionSheetOpen=true">
      <svg style="height: 50%;" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288M400 256H112"/></svg>
    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col style="display: flex; justify-content: center; align-items: center">
      <ion-button style="width: 75%;" size="large" (click)="submit()">提交</ion-button>
    </ion-col>
  </ion-row>
  <ion-action-sheet [isOpen]="isActionSheetOpen" header="添加图片" [buttons]="actionSheetButtons" (didDismiss)="handleAddActions($event)"></ion-action-sheet>
</ion-content>
